@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/reey");
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Reey', sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

.container {
  width: 85%;
  margin-inline: auto;
}

nav > ul {
  list-style-type: none;
}

nav,
nav > ul {
  display: flex;
  justify-content: end;
  gap: 4rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: white;
  line-height: 2rem;
}

nav {
  /* padding: 2.5rem;
  margin-bottom: 2rem; */
  height: 15vh;
  align-items: center;
}

.section1 {
  height: 100vh;
  background-image: url("../img/s1-hero-main.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% 50%;
}

.section-background-image {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: yellow;
}

/* Style the input container */
.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

nav > input[type="text"] {
  border-radius: 24px;
  border: none;
  height: 2rem;
}

.icon {
  color: black;
  text-align: center;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  background-color: white;
}

.hero {
  display: flex;
  height: 85vh;
  justify-content: space-between;
}

.hero-left {
  flex: 45%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 4rem;
}

.hero-right {
  flex: 55%;
}
.hero-title {
  font: 4rem "Reey", sans-serif;
  color: white;
}
.hero-subtitle {
  font: bold italic 1.5rem "Open Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.hero-text {
  padding-right: 3rem;
  font: italic 1rem "Open Sans", sans-serif;
  color: white;
  text-align: justify;
}

.read-more {
  border-radius: 24px;
  border: none;
  height: 2.5rem;
  width: fit-content;
  padding-inline: 1rem;
  font: bold 1.5rem "Open Sans", sans-serif;
}

/* .s1-hero-main {
  background-image: url("../img/s1-hero-main.png");
  background-repeat: no-repeat;
  background-position: 90% -25%;
}
.s1-hero-second {
  background-image: url("../img/s1-hero-second.png");
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: 90% -25%;
}
.s1-hero-leaf {
  background-image: url("../img/s1-hero-leaf.png");
  background-repeat: no-repeat;
  background-position: 90% -25%;
} */

/* .s1-hero-main {
  size: 1000px;
  background-position: 90% -25%;
}
.s1-hero-second {
  background-position: 90% -25%;
}
.s1-hero-leaf {
  background-position: 90% -25%;
} */

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  bottom: -100px;
  left: 1px;
}

.image3 {
  position: absolute;
  bottom: -170px;
  left: 200px;
  object-fit: contain;
}

.section2 {
  height: 100vh;
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section2-title {
  font: 4rem "Reey", sans-serif;
  color: #16181e;
  text-align: center;
  margin-top: 1rem;
}
.section2-text {
  font: 1rem "Open Sans", sans-serif;
  color: #16181e;
  text-align: center;
  margin-top: 1rem;
}

.section2-mid-flex {
  display: flex;
  gap: 2rem;
}

.section2-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.section2-items img {
  border-radius: 50%;
  box-shadow: 10px 10px 10px #16181e;
}

.section2-items h3 {
  font: bold 1.5rem "Open Sans", sans-serif;
  color: #16181e;
  padding-left: 1rem;
}
.section2-items p {
  font: 1rem "Open Sans", sans-serif;
  color: #16181e;
  padding-left: 1rem;
}

.show-more {
  border-radius: 24px;
  border: none;
  height: 2.5rem;
  width: fit-content;
  padding-inline: 1rem;
  font: bold 1.5rem "Open Sans", sans-serif;
  color: white;
  background-color: #313131;
}

button:hover {
  opacity: 85%;
}
